{% extends "overrides/main.html" %}
{% block body %}
{{ super() }}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<img class="logo-img" src="overrides/images/sfh_logo.png" alt="" />
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="./about">Learn</a></li>
								<li><a href="#connect">Connect</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Contact -->
							<article id="connect">
								<h2 class="major">Connect</h2>
								<p>We are living in a world where the challenges we face as humanity are increasingly complex. Yet, our continuous drive towards higher consciousness and the desire to connect with others and live meaningful lives remains constant.
									We hope to present here the understandable facets of reality and the dynamics of the forces in life, so that you can live a balanced existence, while experiencing higher consciousness. Every human being is a soul or spirit far greater than the limitations of the spacetime in which we must act.
								</p>
								<p>
									If you have any thoughts on how we can improve, or would just like to ask a question or connect with us, please fill in the form below.
								</p>
								<iframe class="connect" src="https://secure.majesticinteractive.co.za/agency3/bf.php?fid=1176"></iframe>
								<ul class="icons">
									<li><a href="https://twitter.com/SFH_Foundation" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/sfhfoundation/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/sfh_foundation/ " class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.youtube.com/channel/UCHiMY_Scws1sB_bn84G-YXg" class="icon brands fa-youtube"><span class="label">GitHub</span></a></li>
								</ul>
							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

	</body>
{% endblock %}



